/* Noto Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss' source('..');

@theme {
  --font-sans: 'Noto Sans', sans-serif;
  --font-serif: 'Noto Serif', serif;

  --spacing-md: calc(5.5 * var(--spacing));
  --spacing-xs: calc(0.45 * var(--spacing-md));
  --spacing-sm: calc(0.75 * var(--spacing-md));
  --spacing-lg: calc(2 * var(--spacing-md));
  --spacing-xl: calc(2 * var(--spacing-lg));

  --radius-normal: var(--radius-lg);

  /** Space between element and window edge */
  --spacing-window: var(--spacing-sm);

  --color-*: initial;

  --color-text-error: light-dark(oklch(60% 0.2 25), oklch(70% 0.15 25));
  --color-bg-error: light-dark(oklch(95% 0.04 25), oklch(24% 0.04 25));
  --color-border-error: light-dark(oklch(80% 0.1 25), oklch(40% 0.1 25));

  --color-text-warning: light-dark(oklch(60% 0.18 60), oklch(78% 0.16 60));
  --color-bg-warning: light-dark(oklch(96% 0.04 60), oklch(24% 0.04 60));
  --color-border-warning: light-dark(oklch(80% 0.1 60), oklch(42% 0.1 60));

  --color-white: white;
  --color-black: black;
  --color-bw: light-dark(white, black);
  --color-bw-reverse: light-dark(black, white);

  --color-accent: oklch(
    var(--lightness-accent) var(--chroma-accent) var(--hue-accent)
  );
  --color-bg-accent: light-dark(
    oklch(95% 0.04 var(--hue-accent)),
    oklch(24% 0.04 var(--hue-accent))
  );

  --color-bg-1: light-dark(
    oklch(100% 0.01 var(--hue-accent)),
    oklch(12% 0.016 var(--hue-accent))
  );
  --color-bg-2: light-dark(
    oklch(97% 0.01 var(--hue-accent)),
    oklch(18% 0.01 var(--hue-accent))
  );
  --color-bg-3: light-dark(
    oklch(90% 0.01 var(--hue-accent)),
    oklch(24% 0.01 var(--hue-accent))
  );
  --color-bg-4: light-dark(
    oklch(80% 0.01 var(--hue-accent)),
    oklch(30% 0.01 var(--hue-accent))
  );

  --color-border-1: light-dark(
    oklch(80% 0.02 var(--hue-accent)),
    oklch(26% 0.02 var(--hue-accent))
  );
  --color-border-2: light-dark(
    oklch(72% 0.025 var(--hue-accent)),
    oklch(38% 0.025 var(--hue-accent))
  );
  --color-border-3: light-dark(
    oklch(55% 0.03 var(--hue-accent)),
    oklch(65% 0.03 var(--hue-accent))
  );

  --color-shadow-1: light-dark(
    oklch(10% 0.05 var(--hue-accent) / 0.1),
    oklch(90% 0.009 var(--hue-accent) / 0.04)
  );
  --color-shadow-2: light-dark(
    oklch(20% 0.05 var(--hue-accent) / 0.15),
    oklch(90% 0.06 var(--hue-accent) / 0.05)
  );
  --color-shadow-3: light-dark(
    oklch(30% 0.05 var(--hue-accent) / 0.2),
    oklch(100% 0.06 var(--hue-accent) / 0.1)
  );

  --color-text-1: light-dark(
    oklch(14% 0.1 var(--hue-accent)),
    oklch(96% 0.02 var(--hue-accent))
  );
  --color-text-2: light-dark(
    oklch(48% 0.02 var(--hue-accent)),
    oklch(56% 0.02 var(--hue-accent))
  );
  --color-text-3: light-dark(
    oklch(66% 0.02 var(--hue-accent)),
    oklch(40% 0.02 var(--hue-accent))
  );
}

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

@custom-variant hocus (&:hover, &:focus-visible);

@custom-variant sticky-stuck (&:where([data-sticky-stuck], [data-sticky-stuck] *));

@utility tr-normal {
  @apply transition hocus:bg-accent/8;
  &:has(+ tr.tr-normal) {
    @apply border-b border-border-1/60;
  }
}

@utility tr-section {
  @apply border-y border-border-1 bg-bg-3/50 px-sm py-xs tracking-tight;
  &:first-child {
    border-top: none;
  }
  &:last-child {
    border-bottom: none;
  }
}

@utility th {
  @apply border-b border-border-1 bg-bg-3 tracking-tight text-text-2;
}

@utility p-td {
  @apply px-[calc(var(--spacing-xs)/2)] py-sm sm:px-xs;
  &:first-child {
    @apply pl-sm;
  }
}

@utility p-td-tight {
  @apply px-[calc(var(--spacing-xs)/2)] py-xs;
  &:first-child {
    @apply pl-sm;
  }
}

@layer base {
  :root {
    --width-narrow: min(700px, 100%);
    --width-wide: min(1100px, 100%);
    --height-admin-bar: calc(var(--spacing) * 12);

    @variant sm {
      --spacing-window: var(--spacing-md);
    }
  }

  :root {
    font-family: var(--font-default);
    font-size: 0.9rem;
    color: var(--color-text-1);

    @variant sm {
      font-size: 1rem;
    }
  }

  :root[data-theme='light'] {
    color-scheme: light;
    --lightness-accent: 52%;
    --chroma-accent: 0.2;
  }

  :root[data-theme='dark'] {
    color-scheme: dark;
    --lightness-accent: 64%;
    --chroma-accent: 0.16;
  }

  ::selection {
    @apply bg-accent/50;
    color: inherit;
  }

  :root,
  html,
  body {
    @apply bg-bg-1;
    height: 100%;
  }

  #nuxt {
    @apply bg-bg-1;
    height: 100%;
    scrollbar-gutter: stable;
  }

  button,
  input,
  select,
  textarea {
    @apply outline-none;
  }

  svg[thei-icon] {
    display: inline-block;
    vertical-align: -0.22em;
  }

  @keyframes indeterminate {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(400%);
    }
  }

  .animate-indeterminate {
    animation: indeterminate 1.4s ease-in-out infinite;
  }
}
